gunicorn
asttokens  
blinker  
Bottleneck  
click  
colorama  
comm  
contourpy  
cycler  
debugpy  
decorator  
exceptiongroup  
executing  
Flask  
fonttools==4.25.0
importlib_metadata  
ipykernel  
ipython  
itsdangerous  
jedi  
Jinja2  
joblib  
jupyter_client  
jupyter_core  
kiwisolver  
MarkupSafe  
matplotlib  
matplotlib-inline  
mkl-fft  
mkl-random  
mkl-service==2.4.0
munkres==1.1.4
nest_asyncio  
numexpr  
numpy  
packaging  
pandas  
parso  
pickleshare  
Pillow  
platformdirs  
prompt_toolkit  
psutil  
pure-eval  
Pygments  
pyparsing  
python-dateutil  
pytz  
pywin32==305.1
pyzmq  
scikit-learn  
scipy  
seaborn  
setuptools==69.5.1
six  
stack-data  
threadpoolctl  
tornado  
traitlets  
typing_extensions  
tzdata  
wcwidth  
Werkzeug  
wheel==0.43.0
zipp  
